<html>
  <head>
    <title>Form based App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style type="text/css">
    body{
      padding: 20vh;
    }
    .container{
        border-left: 2px solid gray;
    }
  </style>  
  </head>
  <body>
    <div class="container">
      <h5>you have successfully logged in<img src="/static/celebration.jpeg" height="80px" width="80px"></img><h5> 
        <h1>Welcome to the Sample Form Login App</h1>
        <hr></hr>
      <p style="color: gray">Designed with <img src="/static/heart.png"></img> by DevopsJunction.com</p>
    </div>
  </body>
</html>